# .gitignore

# Development files
.DS_Store
.vscode
.idea
*.iml

# Compiled files
*.class

# Maven
target/

# Gradle
build/

# IntelliJ
out/
.idea/

# Eclipse
bin/
.settings/
.classpath
.project
.metadata/

# Logs
*.log
